.signupBtn {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  width: 100px;
  height: 40px;
  font-size: 20px;
}

.loginBtn {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  width: 100px;
  height: 40px;
  font-size: 20px;
}
